 body {
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f6f8f8;
        }


        /*************************************** Styles for the top navigation bar */
        .topnav {
            position: sticky;
            top: 0;
            /* 2. Positions it exactly at the very top edge */

            display: flex;
            justify-content: space-between;
            /* push elements to the edges */
            align-items: center;
            /* Center items vertically on the same level */

            padding: 10px 20px;
            background-color: rgba(246, 248, 248, 0.8);
            /* semi-transparent background specially while scrolling*/
            margin-bottom: 20px;

            z-index: 1000;
            /* prevent overlaping and Ensures it stays above other content when scrolling by high priority */

            backdrop-filter: blur(10px);
            /*  adds a blur effect to the background  while scrolling*/
        }

        /*logo section styling*/

        .logo-section {
            display: flex;
            align-items: center;
            /* Center header & logo vertically on the same level */
            gap: 20px;
            /* Space between logo and header */

        }

        .logo-section h1 {
            font-size: 23px;
        }


        /* Navigation links (buttons) styling */
        .nav-links {
            /*back to home & exit game links*/
            display: flex;
            align-items: center;
            gap: 20px;
            /* Space between the two links */


        }


        #backToHomeLink {
            color: #000000;
            padding: 10px 25px;
            border-radius: 50px;
            /* This creates the pill shape */
            background-color: #ECF4E8;
            text-decoration: none;
            box-shadow: 0 4px 10px rgba(29, 201, 186, 0.3);
            /*offset-x offset-y blur-radius color*/
            transition: all 0.1s ease;
        }

        #backToHomeLink:active {
            /* When the button is pressed */

            transform: translateY(5px);
            /* Move the button down by 6px to simulate pressing */
            box-shadow: none;
            /* Remove the shadow to enhance the pressed effect */
        }

        #exitGameLink {
            background-color: #1dc9ba;
            color: white;
            padding: 10px 25px;
            border-radius: 50px;
            text-decoration: none;
            box-shadow: 0 4px 10px rgba(29, 201, 186, 0.3);
            transition: all 0.1s ease;

        }


        #exitGameLink:active {
            /* When the button is pressed */

            transform: translateY(5px);
            /* Move the button down by 6px to simulate pressing */
            box-shadow: none;
            /* Remove the shadow to enhance the pressed effect */
        }




        /*******************************************Entire game container  styling */
        .container {
            display: flex;
            justify-content: space-between;


            padding: 50px 20px;
            /* padding btw container and navbar */
            border-radius: 8px;
            background-color: #f0f9f8;
            margin-bottom: 20px;
            gap: 200px;
            /* space between left and right side bars */

        }

        .left-side-bar {
            /* game board */
width: 65%;
            /* 65% of the container width  and right side takes the rest*/


        }

        .right-side-bar {
            /* active turn, game log and player leaderboard */
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Center items horizontally */
            gap: 20px;
            /* Space between the sections vertically */

        }



        /*****************************************left side bar styling */

        .gameBoard {
            padding-left: 20px;
            display: grid;
            grid-template-columns: auto auto auto;

           /* width: 600px;
            height: 600px;*/
            background-color: #ffffff;
            border-radius: 15px;
        }



        .gameBoard img {  /*for testing by presented image*/
            width: 90%;
            /* Makes the image fill the 60% container */
            height: auto;
            /* Maintains aspect ratio */
            border-radius: 8px;
        }


        



        /**************************************right side bar styling */


        .overall-right-side-bar-styling {
            /*3 blocks*/
            width: 90%;
            /* Makes the right side bar sections fill 90% of the right side bar */
            padding: 15px;
            border: #50958f 1px solid;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(108, 117, 116, 0.3);
            border: #ffffff 1px;
            border-radius: 8px;
        }



        /* Active Turn Block styling */
        #upper-right-side-bar {

            border-left: 5px solid #1dc9ba;

        }


        .playerImgName {
            display: flex;
            align-items: center;


            /* 3. Center items vertically on the same level */
        }

        .activeTurnTextBlock {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            gap: 10px;
        }

        .playerImgName img {
            border-radius: 50%;
            margin-left: 10px;
            width: 50px;
            border: 2px solid #1dc9ba;
        }

        #activeTurnText {
            margin: 0;
            color: #1dc9ba;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }

        #activeTurnPlayerName {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }



        /* Dice Roll Section styling */
        .diceRollSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            
            border: dashed 1px #1dc9ba;
            border-radius: 8px;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 10px;

            background-color: #f0f9f8;
        }

        .diceRollSection img {
            margin-top: 30px;
            margin-bottom: 30px;
            object-fit: contain;
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 20%;

        }


        #rollDiceButton {
            width: 70%;
            padding: 16px 0;
            background-color: #1dc9ba;
            color: white;
            font-size: 28px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            font-weight: bold;

            /* The 3D "Thickness" */
            box-shadow: 0 5px 0px #148c82;
            /* Smooth movement */
            transition: all 0.1s ease;

        
            margin-bottom: 20px;
        }


        #rollDiceButton:active {
            /* When the button is pressed */

            transform: translateY(5px);
            /* Move the button down by 6px to simulate pressing */
            box-shadow: none;
            /* Remove the shadow to enhance the pressed effect */
        }

 





        /*leaderBoard Section Styling*/
        .playersLeaderboard{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
        }

        .playerPostionSquareNumber p{
            font-size: 15px;
            margin: 5px;
            padding: 5px;
            background-color: #1dc9ba;
            color: white;
            border-radius: 8px;
        }

        .playersLeaderboard h5{
            margin: 0;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: bold;
        }

        .playerInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }

        .PickedPlayerTurn {
            background-color: #e6f7f5;
            border: 1px solid #1dc9ba;
            border-radius: 12px;
            border-left: 5px solid #1dc9ba;
            padding-left: 20px;
        }


        /* Game Log Section Styling*/
        .gameLog {
            border: #50958f 1px solid;
            margin-bottom: 50px;
            background-color: #f0f9f8;
        }

        .gameLog h5 {
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            color: #50958f;
        }

        .gameLog ul {

            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 10px;
            list-style-type: disc;
            margin-top: 20px;
            margin-bottom: 35px;
            color: #50958f;
            white-space: nowrap;

        }

