
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-soft);
}

/* The home layout blocks */
div {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.font-small {
  font-size: small;
  color: var(--primary-dark);
}

.note {
  font-size: small;
  background-color: var(--primary-soft);
  color: var(--primary);
  border-radius: 10px;
  padding: 2px 10px;
}

.named-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.named-bar span:first-child {
  font-weight: bold;
  flex-grow: 1;
  text-align: start;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  padding-left: 40px;
  background-color: var(--primary-soft);
  min-height: 30px;
  border: solid 1px #73bea1d9;
  border-radius: 10px;
}

/* Color picker */
.color-picker-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;

  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ccc;
  cursor: pointer;

  background-color: var(--primary);
}

input[type="color"] {
  opacity: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Let global control button animation, keep sizing */
button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

#players {
  padding: 5px 0px;
  align-content: stretch;
}

.user-entry {
  position: relative;
  padding: 5px 0px;
  align-content: stretch;
}

#main {
  max-width: 400px;
}

#setup {
  padding: 20px;
  background-color: var(--surface);
  box-shadow: 0px 0px 10px 0px rgba(113, 167, 163, 0.4);
}
