/* Figured using premade variable woud make this easier */
:root {
	/* Primary background and text colors (White theme base) */
	--color-background-primary: #ffffff;
	--color-text-primary: #333333;

	/* Accent colors */
	--color-accent-pale: #d4e7de;
	--color-accent-muted: #73bea1d9;
	--color-accent-dark: #037a64;
	--color-accent-vibrant: #00b06dd9;
}

*{
	box-sizing: border-box;
	color: var(--color-text-primary);
}

body {
	background-color: var(--color-accent-pale);
}

div {
	display: flexbox;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.font-small{
	font-size: small;
	color: var(--color-accent-dark);
}

.note{
	font-size: small;
	background-color: var(--color-accent-pale);
	color: var(--color-accent-vibrant);
	border-radius: 10px;
	padding: 2px 10px;
}

.named-bar{
	display: flex;
	flex-direction:row;
	align-items: stretch;
}

.named-bar span:first-child{
	font-weight: bold;
	flex-grow: 1;
	text-align: start;
}

input[type="text"]{
	width: 100%;
	padding: 10px 10px;
	padding-left: 40px;
	background-color: var(--color-accent-pale);
	min-height: 30px;
	border: solid 1px var(--color-accent-muted);
	border-radius: 10px;
}

.color-picker-container {
  /* Optional: Center the label text in the circle */
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Must have equal width and height */
  height: 25px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  overflow: hidden; /* Ensures the square swatch inside doesn't show */
  border: 5px solid #ccc;
  cursor: pointer;
  background-color: var(--color-accent-vibrant);
}

input[type="color"]{
  /* Hide the default input while keeping its functionality */
  opacity: 0; 
  position: absolute;
  width: 25px; /* Match container size */
  height: 25px;
  cursor: pointer;
}

button {
	font-weight: bold;
	width: 100%;
	background-color: var(--color-accent-vibrant);
	border-radius: 10px;
	border: 0px;
	padding: 10px;
}

button * {
	color: var(--color-background-primary);
}

#players {
	padding: 5px 0px;
	align-content: stretch;
}

.user-entry {
	position: relative;
	padding: 5px 0px;
	align-content: stretch;
}

#main {
	max-width: 400px;
}

#setup {
	padding: 20px;
	background-color: var(--color-background-primary);
	box-shadow: 0px 0px 10px 0px var(--color-accent-muted);
}