
* {
  box-sizing: border-box;
}



/* The home layout blocks */
main {
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  padding: 5px;
  margin-bottom: 18rem;
  margin-left:auto;
  margin-right:auto;

  max-width: 500px;
}

.font-small {
  font-size: small;
  color: var(--primary-dark);
}

.note {
  font-size: small;
  background-color: var(--primary-soft);
  color: var(--primary);
  border-radius: 10px;
  padding: 2px 10px;
}

.named-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.named-bar span:first-child {
  font-weight: bold;
  flex-grow: 1;
  text-align: start;
}

input[type="text"] {
  width: 50%;
  padding: 10px 10px;
  padding-left: 40px;
  background-color: var(--primary-soft);
  min-height: 30px;
  border: solid 1px #73bea1d9;
  border-radius: 10px;
}
input[type="text"]:focus {
  outline: none;
  border: solid 2px var(--primary);
}
select {
  width: 35%;
  padding: 10px 10px;
  padding-left: 40px;
  background-color: var(--primary-soft);
  color: #646f6e;
  min-height: 30px;
  border: solid 1px #73bea1d9;
  border-radius: 10px;
 
}
select:hover {
  cursor: pointer;
}
select:focus {
  outline: none;
  border: solid 2px var(--primary);
}

/* Color picker */
.color-picker-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;

  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ccc;
  cursor: pointer;

  background-color: var(--primary);
}

input[type="color"] {
  opacity: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Let global control button animation, keep sizing */
a {
  width: 100%;
  border-radius: var(--radius-pill);
  padding: 10px;
}

#players {
  padding: 5px 0px;
  align-content: stretch;
}

.user-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0px;
}

.user-entry img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #73bea1d9;
}

#setup {
  padding: 20px;
  background-color: var(--surface);
  box-shadow: 0px 0px 10px 0px rgba(113, 167, 163, 0.4);
  border-radius: 2rem;
}
