
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex:1
}

/* Small header pill */
main .small-header {
  text-align: center;
  width: 10rem;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1rem;
  color: #1cc8b9;
  background-color: #dcf1f0;
  border-radius: 2rem;
}

main .small-header img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

main h1 {
  text-align: center;
  margin: 1rem 0;
}

main p {
  text-align: center;
  margin-bottom: 2rem;
  color: #71a7a3;
}

/* Table card */
main table {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 6px 20px 0px rgb(160, 160, 160);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  background: white;
}

th#rank,
th#score {
  width: 20%;
}

th {
  padding-bottom: 1rem;
}

td {
  padding: 1rem 0;
  border-top: 1px solid #e2e8f0;
}

/* Rank colors */
tbody tr:nth-child(1) td:nth-child(1) span {
  background-color: #facc14;
  color: white;
  border-radius: var(--radius-pill);
  width : 5rem;
  height : 4rem;
  display : inline-flex;
  align-items : center;
  justify-content : center;

}

tbody tr:nth-child(2) td:nth-child(1) span{
  background-color: #e2e8f0;
  border-radius: var(--radius-pill);
  width : 5rem;
  height : 4rem;
  color: #6b798a;
  border-radius: 5rem;
  display : inline-flex;
  align-items : center;
  justify-content : center;
}

tbody tr:nth-child(3) td:nth-child(1) span{
  background-color: #fed8aa;
  border-radius: var(--radius-pill);
  width : 5rem;
  height : 4rem;
  color: #ce602e;
  border-radius: 5rem;
  display : inline-flex;
  align-items : center;
  justify-content : center;
}

tbody td:nth-child(1) {
  color: #96a2b8;
  
}

/* Player cell */
td.player-info {
  display: flex;
  align-items: center;
  min-width: 150px;
  gap: 0.5rem;
}

td.player-info img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 2rem;
  flex-shrink: 0;
}

/* Play again button area */
main .play-again-button {
  text-align: center;
  margin-top: 2rem;
}

main .play-again-button button {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}



.leaderboard-container{
  overflow: auto;
  height: 35rem;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #cc3333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 100px;


  /* Smooth fade-in */
  opacity: 0;
  transition: opacity 1.5s;
}
#play-button:hover .tooltiptext {
  visibility: visible;
opacity: 1;
  
}